.search-box {
  padding:72px 110px 50px 120px;
}

.search {
  border-radius: 7px;
  width: 90%;
  height: 43px;
}

.find {
  display: inline;
  font-size: 25px;
  margin-left: 10px;
}

.page-header{
  font-weight: bold;
  margin-left: 20px;
}

.list{
  border: 1px solid black;
  margin: 10px;
  width: 950px;
  height: 150px;
}

.img-box, .result{
  display: inline-block;
}

.result{
  position: relative;
}

.result-name{
  margin-bottom: 10px;
  font-weight: bold;
}

.result-text{
  margin-bottom: 10px;
}

.result-name, .result-text{
  position: relative;
  bottom:  90px;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
}

.img-box img{
  max-width: 100%;
  max-height: 100%;
  width: 187px;
  height: 150px;
  padding: 3px;
}

.page{
  text-align: center;
}
