.search-box {
  padding:72px 110px 50px 120px;
}

.search {
  border-radius: 7px;
  width: 90%;
  height: 43px;
}

.find {
  display: inline;
  font-size: 25px;
  margin: auto;
}

.list{
  border: 1px solid black;
  margin: 10px;

}

.img-box img{
  max-width: 100%;
  max-height: 100%;
  width: 187px;
  height: 130px;
}
