.recipe-title {
  background-color: rgb(224, 224, 224);
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.search-box {
  padding:72px 210px 150px;
}

.search {
  border-radius: 7px;
  width: 538px;
  height: 43px;
}

.img-list {
  display: flex;
  justify-content : space-around;
  margin-bottom:
}

.img-box img{
  max-width: 100%;
  max-height: 100%;
  width: 187px;
  height: 130px;
}
