.page-header h3{
  font-size: 35px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 50px;
}

.text h3{
  font-size: 27px;
  font-weight: bold;
  margin: 50px 0px 30px 7px;
}

.text p{
  font-size: 21px;
  margin: 10px 0px 50px 20px;
  line-height: 37px;
}
