{% extends 'web/baseHtml/base_html.html' %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/search_box.css' %}">

  <div class="search-box">
    <form class="" action="" method="get">
        <h3 class="recipe-title">
          레시피 검색
        </h3>
        <input type="text" name="recipe_key"><span class="glyphicon glyphicon-search"></span>
        <input type="submit" name="send">
    </form>
  </div>

  <div class="img-list">
    <div class="img-box">
      <img src="{% static 'img/sliderImg/testImg1.jpg' %}" alt="">
    </div>
    <div class="img-box">
      <img src="{% static 'img/sliderImg/testImg2.jpg' %}" alt="">
    </div>
    <div class="img-box">
      <img src="{% static 'img/sliderImg/testImg3.jpg' %}" alt="">
    </div>
    <div class="img-box">
      <img src="{% static 'img/sliderImg/testImg4.jpg' %}" alt="">
    </div>
    <div class="img-box">
      <img src="{% static 'img/sliderImg/testImg5.jpg' %}" alt="">
    </div>
  </div>



{% endblock %}
