<!DOCTYPE html>
{% extends 'web/baseHtml/base_html.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/stuff.css' %}">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
    <div class="sort vegetable">
      <img src="{% static '/img/ing1.jpg' %}" alt="채소류" class="sub-sort">
      <div class="box1">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="potato" value="감자"> 감자
        </div>
        <div class="each">
          <input type="checkbox" name="sweetpotato" value="고구마"> 고구마
        </div>
        <div class="each">
          <input type="checkbox" name="carrot" value="당근"> 당근
        </div>
        <div class="each">
          <input type="checkbox" name="burdock" value="우엉"> 우엉
        </div>
        <div class="each">
          <input type="checkbox" name="lotus" value="연근"> 연근
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="ginseng" value="인삼"> 인삼
        </div>
        <div class="each">
          <input type="checkbox" name="dd" value="더덕"> 더덕
        </div>
        <div class="each">
          <input type="checkbox" name="bellflower" value="도라지"> 도라지
        </div>
        <div class="each">
          <input type="checkbox" name="onion" value="양파"> 양파
        </div>
        <div class="each">
          <input type="checkbox" name="garlic" value="마늘"> 마늘
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="ginger" value="생강"> 생강
        </div>
        <div class="each">
          <input type="checkbox" name="green" value="대파"> 대파
        </div>
        <div class="each">
          <input type="checkbox" name="scallion" value="쪽파"> 쪽파
        </div>
        <div class="each">
          <input type="checkbox" name="dead" value="실파"> 실파
        </div>
        <div class="each">
          <input type="checkbox" name="romain" value="상추"> 상추
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="sesame" value="깻잎"> 깻잎
        </div>
        <div class="each">
          <input type="checkbox" name="chicory" value="치커리"> 치커리
        </div>
        <div class="each">
          <input type="checkbox" name="cucumber" value="오이"> 오이
        </div>
        <div class="each">
          <input type="checkbox" name="pumpkin" value="호박"> 호박
        </div>
        <div class="each">
          <input type="checkbox" name="squash" value="애호박"> 애호박
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="branch" value="가지"> 가지
        </div>
        <div class="each">
          <input type="checkbox" name="corn" value="옥수수"> 옥수수
        </div>
        <div class="each">
          <input type="checkbox" name="halapion" value="할라피뇨"> 할라피뇨
        </div>
        <div class="each">
          <input type="checkbox" name="pepper" value="청양고추"> 청양고추
        </div>
        <div class="each">
          <input type="checkbox" name="pickle" value="피클"> 피클
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="cu-pepper" value="오이고추"> 오이고추
        </div>
        <div class="each">
          <input type="checkbox" name="lettuce" value="양상추"> 양상추
        </div>
        <div class="each">
          <input type="checkbox" name="brokoli" value="브로콜리"> 브로콜리
        </div>
        <div class="each">
          <input type="checkbox" name="pimento" value="피망"> 피망
        </div>
        <div class="each">
          <input type="checkbox" name="paprika" value="파프리카"> 파프리카
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="asparagus" value="아스파라거스"><font size = 1.5px> 아스파라거스</font>
        </div>
        <div class="each">
          <input type="checkbox" name="cheong" value="청경채"> 청경채
        </div>
        <div class="each">
          <input type="checkbox" name="parsley" value="파슬리"> 파슬리
        </div>
        <div class="each">
          <input type="checkbox" name="salary" value="샐러리"> 샐러리
        </div>
        <div class="each">
          <input type="checkbox" name="cabbage" value="양배추"> 양배추
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="cab" value="배추"> 배추
        </div>
        <div class="each">
          <input type="checkbox" name="radish" value="무"> 무
        </div>
        <div class="each">
          <input type="checkbox" name="spinach" value="시금치"> 시금치
        </div>
        <div class="each">
          <input type="checkbox" name="chives" value="부추"> 부추
        </div>
        <div class="each">
          <input type="checkbox" name="par" value="미나리"> 미나리
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="sprouts" value="콩나물"> 콩나물
        </div>
        <div class="each">
          <input type="checkbox" name="host" value="숙주"> 숙주
        </div>
        <div class="each">
          <input type="checkbox" name="bracken" value="고사리"> 고사리
        </div>
        <div class="each">
          <input type="checkbox" name="cold" value="냉이"> 냉이
        </div>
        <div class="each">
          <input type="checkbox" name="soothe" value="달래"> 달래
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="gondor" value="곤드레"> 곤드레
        </div>
        <div class="each">
          <input type="checkbox" name="siregy" value="시래기"> 시래기
        </div>
        <div class="each">
          <input type="checkbox" name="mugwort" value="쑥"> 쑥
        </div>
        <div class="each">
          <input type="checkbox" name="mulberry" value="유부"> 유부
        </div>
        <div class="each">
          <input type="checkbox" name="tufu" value="두부"> 두부
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="softtufu" value="순두부"> 순두부
        </div>
        <div class="each">
          <input type="checkbox" name="otori" value="도토리묵"> 도토리묵
        </div>
        <div class="each">
          <input type="checkbox" name="konjac" value="곤약"> 곤약
        </div>
        <div class="each">
          <input type="checkbox" name="jelly" value="묵"> 묵
        </div>
        <div class="each">
          <input type="checkbox" name="beji" value="비지"> 비지
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="rosemary" value="로즈마리"> 로즈마리
        </div>
        <div class="each">
          <input type="checkbox" name="herb" value="허브"> 허브
        </div>
        <div class="each">
          <input type="checkbox" name="veet" value="비트"> 비트
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort fruit">
      <img src="{% static '/img/ing2.jpg' %}"" alt="과일&견과류">
      <div class="box2">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="apple" value="사과"> 사과
        </div>
        <div class="each">
          <input type="checkbox" name="pear" value="배"> 배
        </div>
        <div class="each">
          <input type="checkbox" name="mandarin" value="귤"> 귤
        </div>
        <div class="each">
          <input type="checkbox" name="hanra" value="한라봉"> 한라봉
        </div>
        <div class="each">
          <input type="checkbox" name="tomato" value="토마토"> 토마토
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="stomato" value="방울토마토"><font size = 2px> 방울토마토</font>
        </div>
        <div class="each">
          <input type="checkbox" name="grape" value="포도"> 포도
        </div>
        <div class="each">
          <input type="checkbox" name="watermelon" value="수박"> 수박
        </div>
        <div class="each">
          <input type="checkbox" name="mmelon" value="참외"> 참외
        </div>
        <div class="each">
          <input type="checkbox" name="pomegranate" value="석류"> 석류
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="pplum" value="매실"> 매실
        </div>
        <div class="each">
          <input type="checkbox" name="kiwi" value="키위"> 키위
        </div>
        <div class="each">
          <input type="checkbox" name="hongsi" value="홍시"> 홍시
        </div>
        <div class="each">
          <input type="checkbox" name="gam" value="감"> 감
        </div>
        <div class="each">
          <input type="checkbox" name="peach" value="복숭아"> 복숭아
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="plum" value="자두"> 자두
        </div>
        <div class="each">
          <input type="checkbox" name="strawberry" value="딸기"> 딸기
        </div>
        <div class="each">
          <input type="checkbox" name="blueberry" value="블루베리"> 블루베리
        </div>
        <div class="each">
          <input type="checkbox" name="cranberry" value="크렌베리"> 크렌베리
        </div>
        <div class="each">
          <input type="checkbox" name="schisandra" v, alue="오미자"> 오미자
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="banana" value="바나나"> 바나나
        </div>
        <div class="each">
          <input type="checkbox" name="grapefruit" value="자몽"> 자몽
        </div>
        <div class="each">
          <input type="checkbox" name="mango" value="망고"> 망고
        </div>
        <div class="each">
          <input type="checkbox" name="pineapple" value="파인애플"> 파인애플
        </div>
        <div class="each">
          <input type="checkbox" name="cherry" value="체리"> 체리
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="lemon" value="레몬"> 레몬
        </div>
        <div class="each">
          <input type="checkbox" name="goldkiwi" value="골드키위"> 골드키위
        </div>
        <div class="each">
          <input type="checkbox" name="avocado" value="아보카도"> 아보카도
        </div>
        <div class="each">
          <input type="checkbox" name="lime" value="라임"> 라임
        </div>
        <div class="each">
          <input type="checkbox" name="peanut" value="땅콩"> 땅콩
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="walnut" value="호두"> 호두
        </div>
        <div class="each">
          <input type="checkbox" name="almond" value="아몬드"> 아몬드
        </div>
        <div class="each">
          <input type="checkbox" name="jujube" value="대추"> 대추
        </div>
        <div class="each">
          <input type="checkbox" name="chestnut" value="밤"> 밤
        </div>
        <div class="each">
          <input type="checkbox" name="pistachio" value="피스타치오"><font size = 2px> 피스타치오</font>
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="bank" value="은행"> 은행
        </div>
        <div class="each">
          <input type="checkbox" name="pinenut" value="잣"> 잣
        </div>
        <div class="each">
          <input type="checkbox" name="drygrape" value="건포도"> 건포도
        </div>
        <div class="each">
          <input type="checkbox" name="cashunut" value="캐슈너트"> 캐슈너트
        </div>
        <div class="each">
          <input type="checkbox" name="dryfruit" value="건과일"> 건과일
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="olive" value="올리브"> 올리브
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort mushroom">
      <img src="{% static '/img/ing3.jpg' %}" alt="버섯류">
      <div class="box3">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="pmushroom" value="표고버섯"> 표고버섯
        </div>
        <div class="each">
          <input type="checkbox" name="smushroom" value="새송이버섯"><font size = 2px> 새송이버섯</font>
        </div>
        <div class="each">
          <input type="checkbox" name="ymushroom" value="양송이버섯"><font size = 2px> 양송이버섯</font>
        </div>
        <div class="each">
          <input type="checkbox" name="topmushroom" value="팽이버섯"> 팽이버섯
        </div>
        <div class="each">
          <input type="checkbox" name="nmushroom" value="느타리버섯"><font size = 2px> 느타리버섯</font>
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="mmushroom" value="목이버섯"> 목이버섯
        </div>
        <div class="each">
          <input type="checkbox" name="yjmushroom" value="영지버섯"> 영지버섯
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort fish">
      <img src="{% static '/img/ing4.jpg' %}" alt="해산물">
      <div class="box4">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="mackerel" value="고등어"> 고등어
        </div>
        <div class="each">
          <input type="checkbox" name="galchi" value="갈치"> 갈치
        </div>
        <div class="each">
          <input type="checkbox" name="early" value="조기"> 조기
        </div>
        <div class="each">
          <input type="checkbox" name="samchi" value="삼치"> 삼치
        </div>
        <div class="each">
          <input type="checkbox" name="cod" value="대구"> 대구
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="salmon" value="연어"> 연어
        </div>
        <div class="each">
          <input type="checkbox" name="gulbi" value="굴비"> 굴비
        </div>
        <div class="each">
          <input type="checkbox" name="saury" value="꽁치"> 꽁치
        </div>
        <div class="each">
          <input type="checkbox" name="dongtae" value="동태"> 동태
        </div>
        <div class="each">
          <input type="checkbox" name="kodari" value="코다리"> 코다리
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="crotch" value="아귀"> 아귀
        </div>
        <div class="each">
          <input type="checkbox" name="eel" value="장어"> 장어
        </div>
        <div class="each">
          <input type="checkbox" name="rockfish" value="우럭"> 우럭
        </div>
        <div class="each">
          <input type="checkbox" name="pome" value="옥돔"> 옥돔
        </div>
        <div class="each">
          <input type="checkbox" name="squid" value="오징어"> 오징어
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="miniocto"value="낙지"> 낙지
        </div>
        <div class="each">
          <input type="checkbox" name="shrimp" value="새우"> 새우
        </div>
        <div class="each">
          <input type="checkbox" name="oyster" value="굴"> 굴
        </div>
        <div class="each">
          <input type="checkbox" name="clam" value="바지락"> 바지락
        </div>
        <div class="each">
          <input type="checkbox" name="minioctop" value="쭈꾸미"> 쭈꾸미
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="mussel" value="홍합"> 홍합
        </div>
        <div class="each">
          <input type="checkbox" name="crab" value="꽃게"> 꽃게
        </div>
        <div class="each">
          <input type="checkbox" name="jellyfish" value="해파리"> 해파리
        </div>
        <div class="each">
          <input type="checkbox" name="kkomak" value="꼬막"> 꼬막
        </div>
        <div class="each">
          <input type="checkbox" name="miduduk" value="미더덕"> 미더덕
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="junbok" value="전복"> 전복
        </div>
        <div class="each">
          <input type="checkbox" name="daeha" value="대하"> 대하
        </div>
        <div class="each">
          <input type="checkbox" name="nalchi" value="날치알"> 날치알
        </div>
        <div class="each">
          <input type="checkbox" name="octopus" value="문어"> 문어
        </div>
        <div class="each">
          <input type="checkbox" name="gassio" value="가쓰오부시"><font size = 2px> 가쓰오부시</font>
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="gabsquid" value="갑오징어"> 갑오징어
        </div>
        <div class="each">
          <input type="checkbox" name="enchobi" value="멸치"> 멸치
        </div>
        <div class="each">
          <input type="checkbox" name="seaweed" value="미역"> 미역
        </div>
        <div class="each">
          <input type="checkbox" name="kelp" value="다시마"> 다시마
        </div>
        <div class="each">
          <input type="checkbox" name="gipho" value="쥐포"> 쥐포
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="dryshrimp" value="건새우"> 건새우
        </div>
        <div class="each">
          <input type="checkbox" name="bukfish" value="북어"> 북어
        </div>
        <div class="each">
          <input type="checkbox" name="ginmi" value="진미채"> 진미채
        </div>
        <div class="each">
          <input type="checkbox" name="parae" value="파래"> 파래
        </div>
        <div class="each">
          <input type="checkbox" name="maseng" value="매생이"> 매생이
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="hwangtae" value="황태"> 황태
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort processed-foods">
      <img src="{% static '/img/ing5.jpg' %}" alt="가공식품">
      <div class="box5">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="milk" value="우유"> 우유
        </div>
        <div class="each">
          <input type="checkbox" name="mozzarella" value="모짜렐라 치즈"><font size = 1px> 모짜렐라 치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="slice" value="슬라이스 치즈"><font size = 1px> 슬라이스 치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="pamasan" value="파마산 치즈"><font size = 2px> 파마산 치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="butter" value="버터"> 버터
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="cream" value="생크림"> 생크림
        </div>
        <div class="each">
          <input type="checkbox" name="creamcheeze" value="크림치즈"> 크림치즈
        </div>
        <div class="each">
          <input type="checkbox" name="stringcheeze" value="스트링치즈"><font size = 2px> 스트링치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="beanmilk" value="두유"> 두유
        </div>
        <div class="each">
          <input type="checkbox" name="yogurt" value="요거트"> 요거트
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="yunyu" value="연유"> 연유
        </div>
        <div class="each">
          <input type="checkbox" name="gorgonzola" value="고르곤졸라 치즈"><font size = 1px> 고르곤졸라 치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="whipping" value="휘핑크림"> 휘핑크림
        </div>
        <div class="each">
          <input type="checkbox" name="ricota" value="리코타 치즈"><font size = 2px> 리코타 치즈</font>
        </div>
        <div class="each">
          <input type="checkbox" name="dumpling" value="만두"> 만두
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="sundae" value="순대"> 순대
        </div>
        <div class="each">
          <input type="checkbox" name="porksteak" value="돈까스"> 돈까스
        </div>
        <div class="each">
          <input type="checkbox" name="curry" value="카레"> 카레
        </div>
        <div class="each">
          <input type="checkbox" name="zzagang" value="짜장"> 짜장
        </div>
        <div class="each">
          <input type="checkbox" name="spam" value="스팸"> 스팸
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="cramy" value="크래미"> 크래미
        </div>
        <div class="each">
          <input type="checkbox" name="youbu" value="유부초밥"> 유부초밥
        </div>
        <div class="each">
          <input type="checkbox" name="sausage"value="햄, 소세지"><font size = 2px> 햄, 소세지</font>
        </div>
        <div class="each">
          <input type="checkbox" name="bacon" value="베이컨"> 베이컨
        </div>
        <div class="each">
          <input type="checkbox" name="fishcream" value="어묵"> 어묵
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="creamsoup" value="크림스프"> 크림스프
        </div>
        <div class="each">
          <input type="checkbox" name="ssammu" value="쌈무"> 쌈무
        </div>
        <div class="each">
          <input type="checkbox" name="nurung" value="누룽지"> 누룽지
        </div>
        <div class="each">
          <input type="checkbox" name="tuna" value="참치캔"> 참치캔
        </div>
        <div class="each">
          <input type="checkbox" name="golbang"value="골벵이"> 골벵이
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="gimchi" value="김치"> 김치
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort noodle">
      <img src="{% static '/img/ing6.jpg' %}" alt="면류">
      <div class="box6">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="dangmyun" value="당면"> 당면
        </div>
        <div class="each">
          <input type="checkbox" name="maemil" value="메밀면"> 메밀면
        </div>
        <div class="each">
          <input type="checkbox" name="guksu" value="국수"> 국수
        </div>
        <div class="each">
          <input type="checkbox" name="pasta" value="파스타면"> 파스타면
        </div>
        <div class="each">
          <input type="checkbox" name="kalguk" value="칼국수면"> 칼국수면
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="ssalguk" value="쌀국수면"> 쌀국수면
        </div>
        <div class="each">
          <input type="checkbox" name="udong" value="우동면"> 우동면
        </div>
        <div class="each">
          <input type="checkbox" name="zzol" value="쫄면"> 쫄면
        </div>
        <div class="each">
          <input type="checkbox" name="nengmyun" value="냉면사리"> 냉면사리
        </div>
        <div class="each">
          <input type="checkbox" name="macaroni" value="마카로니"> 마카로니
        </div>
      </div>
      </div>
    </div>

    <div class="sort powder">
      <img src="{% static '/img/ing7.jpg' %}" alt="가루">
      <div class="box7">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="chapssal" value="찹쌀가루"> 찹쌀가루
        </div>
        <div class="each">
          <input type="checkbox" name="nokmal" value="녹말가루"> 녹말가루
        </div>
        <div class="each">
          <input type="checkbox" name="beanpowder" value="콩가루"> 콩가루
        </div>
        <div class="each">
          <input type="checkbox" name="flour" value="밀가루"> 밀가루
        </div>
        <div class="each">
          <input type="checkbox" name="greenteapowder" value="녹차가루"> 녹차가루
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="junbun" value="전분가루"> 전분가루
        </div>
        <div class="each">
          <input type="checkbox" name="cinamon" value="계피가루"> 계피가루
        </div>
        <div class="each">
          <input type="checkbox" name="buchim" value="부침가루"> 부침가루
        </div>
        <div class="each">
          <input type="checkbox" name="cakepowder" value="케이크가루"><font size = 2px> 케이크가루</font>
        </div>
        <div class="each">
          <input type="checkbox" name="cocoapowder" value="코코아가루"><font size = 2px> 코코아가루</font>
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="breadpowder" value="빵가루"> 빵가루
        </div>
        <div class="each">
          <input type="checkbox" name="bakingpowder" value="베이킹파우더"><font size = 1px> 베이킹파우더</font>
        </div>
        <div class="each">
          <input type="checkbox" name="east" value="이스트"> 이스트
        </div>
        <div class="each">
          <input type="checkbox" name="crispypowder" value="튀김가루"> 튀김가루
        </div>
        <div class="each">
          <input type="checkbox" name="misutpowder" value="미숫가루"> 미숫가루
        </div>
      </div>
      </div>
    </div>

    <div class="sort flavor">
      <img src="{% static '/img/ing8.jpg' %}" alt="양념류">
      <div class="box8">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="enchobisalted" value="멸치액젓"> 멸치액젓
        </div>
        <div class="each">
          <input type="checkbox" name="shrimpsalted" value="새우젓"> 새우젓
        </div>
        <div class="each">
          <input type="checkbox" name="kkanari" value="까나리액젓"><font size = 2px> 까나리액젓</font>
        </div>
        <div class="each">
          <input type="checkbox" name="dasida" value="다시다"> 다시다
        </div>
        <div class="each">
          <input type="checkbox" name="sugar" value="설탕"> 설탕
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="salt" value="소금"> 소금
        </div>
        <div class="each">
          <input type="checkbox" name="pepperpowder" value="고춧가루"> 고춧가루
        </div>
        <div class="each">
          <input type="checkbox" name="alcohol" value="미원"> 미원
        </div>
        <div class="each">
          <input type="checkbox" name="bayleaf" value="월계수잎"> 월계수잎
        </div>
        <div class="each">
          <input type="checkbox" name="pepperpowder" value="후추"> 후추
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="jam" value="잼"> 잼
        </div>
        <div class="each">
          <input type="checkbox" name="waterjam" value="물엿"> 물엿
        </div>
        <div class="each">
          <input type="checkbox" name="vinegar" value="식초"> 식초
        </div>
        <div class="each">
          <input type="checkbox" name="oystersauce" value="굴소스"> 굴소스
        </div>
        <div class="each">
          <input type="checkbox" name="mayonez" value="마요네즈"> 마요네즈
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="mustard" value="머스타드 소스"><font size = 1px> 머스타드 소스</font>
        </div>
        <div class="each">
          <input type="checkbox" name="honey" value="꿀"> 꿀
        </div>
        <div class="each">
          <input type="checkbox" name="soysauce" value="간장"> 간장
        </div>
        <div class="each">
          <input type="checkbox" name="oligodang" value="올리고당"> 올리고당
        </div>
        <div class="each">
          <input type="checkbox" name="danjang" value="된장"> 된장
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="ketchup" value="케찹"> 케찹
        </div>
        <div class="each">
          <input type="checkbox" name="ssamjang" value="쌈장"> 쌈장
        </div>
        <div class="each">
          <input type="checkbox" name="maeshil" value="매실청"> 매실청
        </div>
        <div class="each">
          <input type="checkbox" name="gochujang" value="고추장"> 고추장
        </div>
        <div class="each">
          <input type="checkbox" name="chogochujang" value="초고추장"> 초고추장
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="tomatosauce" value="토마토소스"><font size = 2px> 토마토소스</font>
        </div>
        <div class="each">
          <input type="checkbox" name="chamgirum" value="참기름"> 참기름
        </div>
        <div class="each">
          <input type="checkbox" name="oil" value="식용유"> 식용유
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort rice">
      <img src="{% static '/img/ing9.jpg' %}" alt="곡류">
      <div class="box9">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="rice" value="쌀"> 쌀
        </div>
        <div class="each">
          <input type="checkbox" name="chaprice" value="찹쌀"> 찹쌀
        </div>
        <div class="each">
          <input type="checkbox" name="brownrice" value="현미"> 현미
        </div>
        <div class="each">
          <input type="checkbox" name="bean" value="콩"> 콩
        </div>
        <div class="each">
          <input type="checkbox" name="redbean" value="팥"> 팥
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="bori" value="보리"> 보리
        </div>
        <div class="each">
          <input type="checkbox" name="susu" value="수수"> 수수
        </div>
        <div class="each">
          <input type="checkbox" name="jo" value="조"> 조
        </div>
        <div class="each">
          <input type="checkbox" name="nokdu" value="녹두"> 녹두
        </div>
        <div class="each">
          <input type="checkbox" name="yulmu" value="율무"> 율무
        </div>
      </div>
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="kke" value="깨"> 깨
        </div>
        <div class="each">
          <input type="checkbox" name="otmil" value="오트밀"> 오트밀
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
        <div class="each">
        </div>
      </div>
      </div>
    </div>

    <div class="sort meat">
      <img src="{% static '/img/ing10.jpg' %}" alt="육류">
      <div class="box10">
      <div class="ingredient">
        <div class="each">
          <input type="checkbox" name="cow" value="소고기"> 소고기
        </div>
        <div class="each">
          <input type="checkbox" name="chicken" value="닭고기"> 닭고기
        </div>
        <div class="each">
          <input type="checkbox" name="pork" value="돼지고기"> 돼지고기
        </div>
        <div class="each">
          <input type="checkbox" name="sheep" value="양고기"> 양고기
        </div>
        <div class="each">
          <input type="checkbox" name="duck" value="오리고기"> 오리고기
        </div>
      </div>
      </div>
    </div>

  <div class="search">
    <a href="recipe_result.html">
      <input type="submit" value="SEARCH" class="btn btn-default">
    </a>
  </div>


  <script type="text/javascript">
    var vegetable_toggle = document.querySelector('.vegetable');
    var fruit_toggle = document.querySelector('.fruit');
    var mushroom_toggle = document.querySelector('.mushroom');
    var fish_toggle = document.querySelector('.fish');
    var processed_foods_toggle = document.querySelector('.processed-foods');
    var noodle_toggle = document.querySelector('.noodle');
    var powder_toggle = document.querySelector('.powder');
    var flavor_toggle = document.querySelector('.flavor');
    var rice_toggle = document.querySelector('.rice');
    var meat_toggle = document.querySelector('.meat');

    vegetable_toggle.addEventListener('click',function(){
      this.classList.toggle("vegetable-toggle");
    });

    fruit_toggle.addEventListener('click',function(){
      this.classList.toggle("fruit-toggle");
    });

    mushroom_toggle.addEventListener('click',function(){
      this.classList.toggle("mushroom-toggle");
    });

    fish_toggle.addEventListener('click',function(){
      this.classList.toggle("fish-toggle");
    });

    processed_foods_toggle.addEventListener('click',function(){
      this.classList.toggle("processed-foods-toggle");
    });

    noodle_toggle.addEventListener('click',function(){
      this.classList.toggle("noodle-toggle");
    });

    powder_toggle.addEventListener('click',function(){
      this.classList.toggle("powder-toggle");
    });

    flavor_toggle.addEventListener('click',function(){
      this.classList.toggle("flavor-toggle");
    });

    rice_toggle.addEventListener('click',function(){
      this.classList.toggle("rice-toggle");
    });

    meat_toggle.addEventListener('click',function(){
      this.classList.toggle("meat-toggle");
    });

  </script>

    {% endblock %}
