*{
 box-sizing: border-box;
}

.base-size{
  width: 978px;
  margin: 0 auto;
}

.main-logo{
  font-family: serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 100px;
}

.sub-logo{
  font-family: 'Noto Sans KR', sans-serif;
  text-align : center;
  color: rgb(148, 146, 146);
  margin-bottom: 65px;
}
.base-size menu-item{
    margin: auto;
}

.main-menu::after{
  content: "";
  display: block;
  clear: both;
}

.main-menu{
  border-bottom: 1px solid black;
}

.main-menu li{
  float: left;
  width: 25%;
}



.main-menu li a{
  color: rgb(93 ,93,93);
  text-align: center;
  transition: all 1s;
}

.main-menu li a:hover{
  color: white;
  text-decoration: none;
  display: block;
  background-color: rgb(148, 146, 146);
}

.menu-title{
  font-size: 20px;
  padding-top: 5px;
}

.sub-item{
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
}

.foot-menu::after{
  content: "";
  display: block;
  clear: both;
  border-bottom: 1px solid black;

}

.foot-menu li{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}
.foot-menu li a{
  color: rgb(93 ,93,93);
  text-align: center;
  transition: all 1s;
}

.foot-menu li a:hover{
  color: black;
  text-decoration: none;
  display: block;
  background-color: rgb(213, 213, 213);
}

.fooooot{
  font-size: 15px;
  padding-top: 5px;

}

.footer p{
  text-align: center;
  padding-top: 20px;
  padding-bottom:20px;
}
