*{
 box-sizing: border-box;
}

.base-size{
  width: 978px;
  margin: 0 auto;
}

.main-logo{
  font-family: serif;
  text-align: center;
  margin-bottom: 0;
  font-size: 45px;
}

.sub-logo{
  font-family: 'Noto Sans KR', sans-serif;
  text-align : center;
  color: rgb(148, 146, 146);
  margin-bottom: 65px;
}

.main-menu::after{
  content: "";
  display: block;
  clear: both;
}

.main-menu{
  border-bottom: 1px solid black;
}

.main-menu li{
  float: left;
  width: 25%;
}



.main-menu li a{
  color: rgb(159,160,164);
  text-align: center;
  transition: all 1s;
}

.main-menu li a:hover{
  color: white;
  text-decoration: none;
  display: block;
  background-color: rgb(148, 146, 146);
}

.menu-title{
  font-size: 16px;
}

.sub-item{
  font-size: 16px;
}

.foot-menu::after{
  content: "";
  display: block;
  clear: both;
}

.foot-menu li{
  float: left;
  width: 25%;
  text-align: center;
}

.footer p{
  text-align: center;
}
