*{
 box-sizing: border-box;
}

.base-size {
  width: 143px;
  text-align: center;
  margin: 0 auto;
  }

.main-logo{
  font-size: 45px;
  font-weight: bold;
  font-family: serif;
  color: rgb(66, 66, 66);
}

.sub-logo{
  margin: 0 auto;
  font-size: 11px;
  font-family: Comic Sans MS;
  color: rgb(176, 177, 181);
}

.base-size menu-item{
  display: inline;
  float: left;
  text-align: left;
  width: 130px;
}

.menu-item {
  font-size: 16px;
  color: rgb(159, 160, 164);
}

.sub-item {
  font-size: 11px;
  color: rgb(208, 208, 210);
}

.footer base-size {
  display: inline;
  width: 746px;
}
